app-auth {
    ion-content {
        .logo {
            width: 150px;
            height: 150px;
            margin: 20px;
        }
    
        ion-slides {
            width: 100%;
        }
    }
}